<section ...attributes local-class="card">
  <div>
    {{yield to="title"}}
  </div>
  <div>
    {{yield to="content"}}
  </div>
  <div local-class="actions">
    <PrimaryButton local-class="button">
      Primary button
    </PrimaryButton>
    <Button>Unstyled button</Button>
  </div>
</section>